.text--primary {
  color: $primary;
}
.text--secondary {
  color: $secondary;
}
.text--success {
  color: $success;
}
.text--danger {
  color: $danger;
}
.text--warning {
  color: $warning;
}
.text--info {
  color: $info;
}
.text--dark {
  color: $dark;
}
.t-text-white {
  color: $white;
}
.t-text {
  color: $text;
}
.t-text-heading {
  color: $heading-text;
}
