//Typography
$body-font: 'Roboto', sans-serif;
$heading-font: 'DM Serif Display', serif;

//Basic Color
$text: #4e4e4e;
$heading-text: #212121;
$border: #d8d7d7;
$light: #eaedf0;
$light-1: #fafafa;
$gray: #A2A2A3;

$white: #fff;
$black: #000;
$dark: #222736;
$dark-1: #333535;
$dark-2: #1D1F1F;

// Bootstrap Alternatives
$primary: #33BDFF;
$secondary: #adb5bd;
$success: #1BC5BD;
$danger: #f75b60;
$warning: #ff9f43;
$info: #09c2de;
$dark: #222736; 

$primary-900: #f5fbff;


// $alpha: #33BDFF;
// $beta: #f75b60;
// $gamma: #8B00FF;
// $delta:#1BC5BD;
// $epsilon: #F64E60;
// $zeta: #ff9f43;
// $eta: #09c2de;
// $theta: #fbf6fd;
// $lota: #c2f0ff;
// $kappa: #ebf1ff;
// $lambda: #ff9f43;

//Background


// Brand Color 
$fb: #1877F2;
$youtube: #FF0000;
$tw: #1DA1F2;
$pin: #D50012;