.blog-card {
  background: $light-1;
  border-radius: 5px;
  overflow: hidden;
  &__img {
    position: relative;
    &::after {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-image: linear-gradient(0deg, #000000 0%, transparent 100%);
    }
    &-is {
      max-width: 100%;
      width: 100%;
      height: 350px;
      object-fit: cover;
    }
  }
  &__overlay {
    position: absolute;
    left: 15px;
    right: 15px;
    bottom: 30px;
    z-index: 1;
    @include xl-screen {
      left: 30px;
      right: 30px;
    }
  }
  &__body {
    padding: 30px 15px;
    @include xl-screen {
        padding: 30px;
    }
  }
  &__footer {
    padding: 30px 15px;
    @include xl-screen {
        padding: 30px;
    }
  }
  &__hr {
      width: calc(100% - 60px);
      margin-left: auto;
      margin-right: auto;
  }
}
