.course-card {
    @include iphn-screen {
        display: flex;
    }
    &__img {
        @include iphn-screen {
            clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 16%);
            overflow: hidden;
            flex-shrink: 0;
            margin-right: .8rem;
        }
        &-is {
            width: 100%;
            max-height: 320px;
            @include iphn-screen {
                max-width: 250px;
                height: 320px;
                object-fit: cover;
            }
            @include xlii-screen {
                max-width: 300px;
                height: 320px;
                object-fit: cover;
            }
        }
    }
    &__content {
        @include iphn-screen {
            margin-left: .8rem;
            flex-grow: 1;
        }
    }
}