.feedback-slider {
  &__item {
    @include md-screen {
      padding-left: 15px;
      padding-right: 15px;
    }
  }
  &-for {
    &__img {
      &-is {
        max-width: 100%;
        width: 250px;
        height: 250px;
        border-radius: 50%;
        object-fit: cover;
        @include md-screen {
          width: 324px;
          height: 324px;
        }
        @include lg-screen {
          width: 440px;
          height: 440px;
        }
      }
    }
  }
  &-nav {
    &__quote {
      font-size: 80px;
      line-height: 1;
      display: inline-block;
      color: $primary;
    }
    &__text {
      font-size: 18px;
      font-style: italic;
      font-weight: 500;
    }
    &__rating {
      display: inline-block;
    }
    &__btn {
      width: 45px;
      height: 45px;
      line-height: 45px;
      border: none;
      position: absolute;
      top: calc(100% + 30px);
      background: $primary;
      font-size: 24px;
      color: $white;
      text-align: center;
      transition: all 0.3s ease;
      z-index: 1;
      &:hover {
        background: $white;
        color: $primary;
        box-shadow: 0 10px 15px rgba($dark, 0.4);
      }
      &-prev {
        left: 50%;
        transform: translateX(-100%);
        @include md-screen {
          left: 0;
          transform: translateX(0);
        }
      }
      &-next {
        right: 50%;
        transform: translateX(calc(100% + 10px));
        @include md-screen {
          right: 100%;
          transform: translateX(calc(100% + 60px));
        }
      }
    }
  }
}
